footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .copyrights{
        text-align: center;
    }

    #myEmail{
        color: $blue;
        cursor: pointer;
    }
}